/* css初始化文件 */
body,ul,li,p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    border: 0;
}
/* 移动端布局 */
html{
    font-size: 13.33333333vw;
}
/* 防止字体过大  */
@media (min-width: 750px) {
      html {
        font-size: 100px;
      }
}
body{
    font-size: 14px;
    font-family: '微软雅黑', 'Arial Narrow', Arial, sans-serif;
    max-width: 750px;
    margin:  0 auto;
}


